__pycache__
.mypy_cache
*.spec
*.pyc
*.whl
.coverage
coverage.xml
.*.sw?
.python-version
.DS_Store
.coveralls.yml
build/
dist/
*.egg-info
lib/prefab/version.py
doc/_build
image/current-wheel
image/requirements.txt
docs/_build/
