name: Checks

on: 
  push:
    branches:
    - main
  pull_request:

jobs:
  Lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt -r requirements-dev.txt

    - name: Run black
      run: black --check --diff .

    - name: Run flake8
      run: flake8 .

    - name: Run bandit
      run: bandit -r bin lib

    - name: Run mypy
      run: mypy --ignore-missing-imports .

  Test:
    runs-on: ubuntu-latest
    needs: Lint
    env:
      PYTHONPATH: src

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt -r requirements-dev.txt

    - name: Test with pytest
      run: |
        pytest -v --random-order --cov=lib --cov-report=term-missing tests
